<!-- This page is the master page for all template pages that are part of this frontend template. 
    It provides the header and footer element for every other page.-->

<!DOCTYPE html>
<html id="styleguide" class="" lang="en">
        
    <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta charset="utf-8"><meta name="viewport" content="width=device-width,initial-scale=1">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  
                              
            <title>Fabric Freeform Editor</title>
            
                <!--CHOOSE-->
                <!--Meraki Design:-->
                    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/mui-variables.css') }}">
                    <link rel="stylesheet" href="{{ url_for('static', filename='css/cui-standard.css') }}">
                    <link rel="stylesheet" href="{{ url_for('static', filename='css/mui-standard.css') }}">
                    <link rel="icon" href="{{ url_for('static', filename='images/Logo_small_green.png') }}">    
                    -->
                <!--OR CHOOSE-->
                <!--Cisco Design:-->
                    <link rel="stylesheet" href="{{ url_for('static', filename='css/cui-standard.css') }}">
                    <link rel="icon" href="{{ url_for('static', filename='images/Logo_small_blue.png')}}">                    
                <!--CHOOSE END-->

                <!--script link for Charts.js library-->
                <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
      
            <link rel="stylesheet" href="{{ url_for('static', filename='css/customStyles.css') }}">
<!--            <script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>-->
            <link href=
        '   https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css'
                  rel='stylesheet'>

            <script src=
            "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" >
            </script>

            <script src=
            "https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" >
            </script>

            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">


            <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>

            <script src="{{ url_for('static', filename='js/styleguide.js') }}"></script>
            <script src="{{ url_for('static', filename='js/loader.js') }}"></script>
            <script src="{{ url_for('static', filename='js/selects.js') }}"></script>
            <script src="{{ url_for('static', filename='js/timepicker.js') }}"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js"></script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
            {% block head %}
            {% endblock %}
            <style>
                .icon-row {
                  display: flex;
                  flex-direction: row;
                  justify-content: space-around;
                }

                .icon-container {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  text-align: center;
                }

                .icon-link {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  text-align: center;
                  text-decoration: none;
                }
           .icon-link::before {
                content: none;
            }





                .centered-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 50vh;  /* This value can be adjusted according to your needs */
                }

            </style>



            {% block script%}

            {% endblock %}
        </head>
        <body class="cui">
    
             <!-- Header -->
            <nav class="header" id="styleguideheader" role="navigation">
                <div class="container-fluid">
                    <div class="header-panels">
                        <!--Cisco logo and title area (left)-->
                        <div class="header-panel">
                            <a class="header-bar__logo header__logo">
                                <span id="header-logo" class="icon-cisco"></span>
                            </a>
                            <h1 class="header__title">Fabric Freeform Template Editor</h1>
                        </div>
                        <!--Center area (middle)-->
                        <div class="header-panel header-panel--center">
                            <!-- Label for the dropdown -->
<!--                            {% if current_url %}-->
<!--                                <label for="sprt-select" style="font-family:CiscoSans;font-weight: bold; color: #333; margin-right:10px; src:url(../fonts/CiscoSans/CiscoSansTTRegular.woff2) format('woff2'), url(../fonts/CiscoSans/CiscoSansTTRegular.woff) format('woff');">SPRT Instance:</label>-->
<!--                                &lt;!&ndash; Here is your dropdown &ndash;&gt;-->
<!--                                <select id="sprt-select" name="sprt-select">-->
<!--                                        {% for instance in sprt_instances %}-->
<!--                                        <option value="{{ instance.ip }}">{{ instance.ip }}</option>-->
<!--                                    {% endfor %}-->
<!--                                </select>-->
<!--                            {% endif %}-->
                            <div id="errorSection"></div>
                        </div>
                        <!--Link area (right)-->
                        <div class="header-panel header-panel--right">
                            <!--CUSTOMIZE: Add or remove Header links-->
                            <!--PASS INFO: Header links are hidden, if hiddenLinks=false variable is passed to child template-->
                            <a class="header-item {% if hiddenLinks == True %}hidden-5xl-down{% endif %}" href="/"><span class="icon-home"></span></a>
                            <a class="header-item {% if hiddenLinks == True %}hidden-5xl-down{% endif %}" href="/"><!--CUSTOMIZE: Menu element name--></a>
            <!--                <a class="header-item {% if hiddenLinks == True %}hidden-5xl-down{% endif %}" href="/">Logout</a>-->
                            <!--CUSTOMIZE END-->
                        </div>
                    </div>
                </div>
            </nav>

            <!--Content-->
            <div class="content content--alt">
                <div class="container-fluid">                
    
                        {% block content %}

                        {% endblock %}
                        
                </div>
            </div>
            
            <!-- Footer -->
            <footer class="footer">
                <div class="footer__links">
                    <ul class="list list--inline">

                        <!--CHOOSE-->
                        <!--Meraki Design:-->
                           <!--<li><a href="https://gve-devnet.cisco.com/"><img id="footer-link-gve-devnet" src="{{ url_for('static', filename='images/Logo_long_green.png')}}"></a></li>
                            <li><a href="https://account.meraki.com/secure/login/dashboard_login"><img id="footer-link-meraki" src="{{ url_for('static',filename='images/cisco-meraki-logo.webp') }}"></a></li>
                           -->
                        <!-- OR -->
                        <!--Cisco Design:-->
                            <li><a href="https://gve-devnet.cisco.com/"><img id="footer-link-gve-devnet" src="{{ url_for('static', filename='images/Logo_long_blue.png')}}"></a></li>
                         
                        <!--CHOOSE END-->

                        <li><a href="http://www.cisco.com/cisco/web/siteassets/contacts/index.html" target="_blank">Contacts</a></li>
                        <li><a href="https://secure.opinionlab.com/ccc01/o.asp?id=jBjOhqOJ" target="_blank">Feedback</a></li>
                        <li><a href="https://www.cisco.com/c/en/us/about/help.html" target="_blank">Help</a></li>
                        <li><a href="https://www.cisco.com/c/en/us/about/legal/terms-conditions.html" target="_blank">Terms & Conditions</a></li></li>
                        <li><a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html" target="_blank">Privacy Statement</a></li>
                        <li><a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html#cookies" target="_blank">Cookie Policy</a></li>
                        <li><a href="https://www.cisco.com/c/en/us/about/legal/trademarks.html" target="_blank">Trademarks</a></li>
                    </ul>
                    <div id="time_location_note">
                        {{ timeAndLocation }}
                    </div>
                </div>
            </footer>
        </body>
    </html>
    